.section_body{
    display: flex;
    flex-direction: column;
    
    
}

.list_gauche{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 30%;
    position: fixed;
    height: 100%;
    
    
    
}
table, tr,td,th{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 33%;
    height: 20px;
}

thead:first-child{
    background-color: rgb(194, 189, 189);
}

a{
   text-decoration: none; 
}


.article_gauche{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}



.description_droite{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}




.section_exemple{
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}
.article_exemple{
    width: 50%;
    margin: 10px;
    border: 1px solid black;
}
.article_code{
    width: 50%;
    margin: 10px;
    
}


code{
    background-color: rgb(240, 231, 231);
    
   
}

h1{
    font-size: xx-large;
}

.code_image,img{
    width: 100%;
    border: 1px solid black;
}
