#section_body{
    display: flex;
    flex-direction: row;
    
    
}

#list_gauche{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 30%;
    position: fixed;
    height: 100%;
    
    
}
table, tr,td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 33%;
    height: 20px;
}
a{
   text-decoration: none; 
}


.article_gauche{
    display: flex;
    flex-direction: column;
    
}



#description_droite{
    display: flex;
    flex-direction: column;
    margin-left: 40%;
}

tr:first-child{
    background-color: rgb(194, 189, 189);
}

#article_exemple,div{
    display: flex;
    flex-direction: row;
}

div{
    border: 1px solid black;
    margin: 0px;
    padding : 0px;
}

code{
    background-color: rgb(240, 231, 231);
    
   
}

ul{
    border: 1px solid black;
    
}